@{
    ViewData["Title"] = "Регистрация";
}

<form style="top:40px" action="~/DataAggregation">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Имя:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="firstnamehelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Фамилия:</label>
        <input type="text" class="form-control" id="exampleInputPassword1" aria-describedby="secondnamehelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Отчество:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="middlenamehelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Место учебы(работы):</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Номер телефона:</label>
        <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Согласие на обработку персональных данных:</label>
        <input type="file" class="form-control" id="fileInputRegistration">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Почта:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button style="width:200px" id="qqq" type="button" class="btn btn-primary">Зарегистрироваться</button>
</form>
<div class="qqq" id="block">
  <b>Вы успешно зарегистрированы!</b> 
</div>