@{
    ViewData["Title"] = "Home Page";
}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/images/logo-new20-115_16-mob.gif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Что такое КУБОК РТК?</h1>
        <p class=" ">Это робототехнические соревнования
для молодых инженеров, студентов и школьников, которые создают робототехнические комплексы для работы в экстремальных условиях.
<br />На специальном испытательном полигоне
который представляет собой реконфигурируемую полосу препятствий, лабиринт, состоящий из участков, имитирующих условия пересеченной местности и урбанизированной среды, а также последствия катастроф.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-primary"  asp-area="" asp-controller="mind" asp-action="magic">Зарегистрироваться</a>
      <a class="btn btn-outline-primary" style="margin-left:5px" href="https://cup.rtc.ru/images/reglament/2022/CupRtc-Info-Reglament-v03_06_2022.pdf">Регламент</a>
        </div>
      </div>
    </div>
  </div>
